<%= render partial: 'flight_details' %>
<h3>Passengers (<%= @booking.passengers.count %>)</h3>
<% @booking.passengers.each do |passenger| %>
  <p><%= passenger.last_name %>, <%= passenger.first_name %></p>
<% end %>

