<div class="footer">
  <%= link_to "<< Home", root_path %><br/>
  <small>1. All times times local to their respective airports</small><br/>
  <small>Airport data provided by <a href="https://openflights.org/">OpenFlights.org</a></small><br/>
  <small>copyright 2020 <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/building-advanced-forms">OdinAirlines</a> All rights reserved.</small><br/>
  <small>About this site</small>
</div>
