<div class="row">
  <div class="col">
    <small class="d-block mb-3 text-muted">© 2020<a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/building-advanced-forms">OdinAirlines</a> All rights reserved.</small>
      <small class="d-block mb-3 text-muted">1. All times times local to their respective airports</small>
      <small class="d-block mb-3 text-muted">Airport data provided by <a href="https://openflights.org/">OpenFlights.org</a></small>

      <small>About this site</small>
  </div>
  <div class="col">
    <h5>Features</h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" href="#">Cool stuff</a></li>
      <li><a class="text-muted" href="#">Random feature</a></li>
      <li><a class="text-muted" href="#">Team feature</a></li>
      <li><a class="text-muted" href="#">Stuff for developers</a></li>
      <li><a class="text-muted" href="#">Another one</a></li>
      <li><a class="text-muted" href="#">Last time</a></li>
    </ul>
  </div>
  <div class="col">
    <h5>About</h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" href="#">Team</a></li>
      <li><a class="text-muted" href="#">Locations</a></li>
      <li><a class="text-muted" href="#">Privacy</a></li>
      <li><a class="text-muted" href="#">Terms</a></li>
    </ul>
  </div>

  

</div>